.ContactoBtn{
    width: 10em;
    text-decoration: none;
    border: solid 3px #212121;
    padding: .6em 3em .6em 3em;
    background: linear-gradient(#ff7832, #de32ff);
    box-shadow: 1px 2px 3px  ;
}