.imgResponsive__container{
    width: 80%;
    margin-top: 5em;
    margin-left: 15em;
    background-color: rgb(245, 245, 245, 0.6);
    border-bottom: 2px solid #d0d0d0;
    padding: 3em;
   
}
.bg2{
    width: 100%;
    display: flex;
    background-color:  rgba(208, 208, 208, 0.342);
}


.imgResponsive{
    width: 60%;
    height: 35em;
    
    
}
.imgResponsivo__txt{
    text-align: center;
    font-size: 1.5em;
    margin-top: 6em;
    
}

