@media(min-width: 412px )and (max-width: 920px){
    .imgWhatsapp{
        width: 4em !important;
        position: fixed;
        bottom: 5em;
        right: .5em !important; 
        z-index: 100;
    }

}



.Whatsapp{
    text-decoration: none;
}

.imgWhatsapp{
    width: 6em;
    position: fixed;
    bottom: 5em;
    right: 2em;
    z-index: 100;
}